.plant img{
    width: 250px;
    height: 250px;
   }
   
   .menu {
       display: flex;
       justify-content: space-around;
       list-style: none;
   }
   @media (min-width: 1601px) {
   .plant-container{
       display: grid;
       grid-template-columns: 25% 25% 25% 25%;
       grid-template-rows: auto auto auto;
       
   }
   }
   
   @media (max-width: 1601px) {
       .plant-container{
           display: flex;
           flex-wrap: wrap;
           flex-direction: row;
           justify-content: stretch;
   
       }
       .plant{
           flex-grow: 1;
   
       } 
   }
   
   